<template>
    <div>
        <b-field>
            <div class="control">
                <span class="button is-static">$</span>
            </div>
            <b-input expanded></b-input>
        </b-field>
        <v-text-field type="text" :label="label" v-model="displayValue" @focus="isInputActive = true" @blur="isInputActive = false" :rules="rules"></v-text-field>
    </div>
</template>
<style>
</style>
<script type="text/javascript">
    import '';
    export default{
        props: ["value", "label"],
        data(){
            return {
                rules: [
                    (value) => {
                        return value <= 0 ? 'Amount cannot be lower or equal to 0' : false;
                    },
                    (value) => {
                        return (typeof value === 'undefined' || value === '' || !value) ? 'Amount cannot be empty' : false;
                    }
                ],
                isInputActive: false
            }
        },
        computed: {
            displayValue: {
                get: function () {
                    if (this.isInputActive) {
                        // Cursor is inside the input field. unformat display value for user
                        return this.value.toString()
                    } else {
                        // User is not modifying now. Format display value for user interface
                        return "$ " + this.value.toFixed(2).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
                    }
                },
                set: function (modifiedValue) {
                    // Recalculate value after ignoring "$" and "," in user input
                    let newValue = parseFloat(modifiedValue.replace(/[^\d\.]/g, ""));
                    // Ensure that it is not NaN
                    if (isNaN(newValue)) {
                        newValue = 0
                    }
                    // Note: we cannot set this.value as it is a "prop". It needs to be passed to parent component
                    // $emit the event so that parent component gets it
                    this.$emit('input', newValue)
                }
            }
        },
    }
</script>
