<template>
    <div>
        <multiselect v-model="value" :options="options"></multiselect>
    </div>
</template>

<script>
    import {Multiselect} from "vue-multiselect";

    export default {
        components: { Multiselect },
        'name' : 'multiselect',
        data () {
            return {
                value: null,
                options: ['list', 'of', 'options']
            }
        }
    }
</script>