<template>

    <div class="product-component">


        <b-modal
            :active.sync="categoryModalVisible"
            :width="640"
            :canCancel="categoryModalCanCancel">


            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">{{categoryModalTitle}}</p>
                </header>
                <section class="modal-card-body">
                    <b-field label="Name">
                        <b-input maxlength="50" type="text" v-model="categoryModalName" :placeholder="categoryModalPlaceholder" rows="2"></b-input>
                    </b-field>
                    <div v-if="hasError('categoryModalName')">
                        <p class="help is-danger">{{ this.getError('categoryModalName') }}</p>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-dark" @click="categoryModalVisible=false">Cancel</button>
                    <button class="button is-primary" @click="addCategory()">Save</button>
                </footer>
            </div>



        </b-modal>

        <div class="field" v-if="namesLoaded" :class="{'is-danger' : hasError('product.name')}">
            <b-field label="Name">
                <b-autocomplete
                        :disabled="!namesLoaded"
                        v-model="product.name"
                        placeholder="Name"
                        :keep-first="names.keepFirst"
                        :data="filteredNames"
                        field="name"
                        @select="option => names.selected = option">
                </b-autocomplete>
            </b-field>

            <div v-if="hasError('product.name')">
                <p class="help is-danger">{{ this.getError('product.name') }}</p>
            </div>
        </div>

        <div class="columns is-multiline">
            <div class="column is-half">
                <div class="field" v-if="categoriesLoaded" >
                    <b-field label="Main Category" :class="{'is-danger' : hasError('category_id')}">
                        <div style="display: flex;">
                            <div style="flex: 1 1 0%;">
                                <v-select
                                        placeholder="Select Main Category"
                                        v-if="categoriesLoaded"
                                        v-model="categories.selected"
                                        label="name"
                                        :options="filteredCategories">
                                </v-select>
                            </div>
                            <div style="width: 85px; margin-left: 5px;">
                                <button @click="tryRemoveCategory(categories.selected.id)" class="button" :disabled="disableDeleteCategory == 1">
                                    <i class="fa fa-trash"></i>
                                </button>

                                <button @click="showCategoryModal()" class="button is-primary">+</button>
                            </div>
                        </div>
                    </b-field>
                </div>

            </div>

            <div class="column is-half">

                <div class="field" v-if="categories.selected">
                    <b-field label="Sub Category" :class="{'is-danger' : hasError('category_id')}">
                        <div style="display: flex;">
                            <div style="flex: 1 1 0%;">
                                <v-select
                                        placeholder="Select Sub Category"
                                        v-if="subCategoriesLoaded"
                                        v-model="categories.subCategorySelected"
                                        label="name"
                                        :options="filteredSubCategories">
                                </v-select>
                            </div>
                            <div style="width: 85px; margin-left: 5px;">
                                <button @click="tryRemoveSubCategory(categories.subCategorySelected.id)" class="button" :disabled="disableDeleteSubcategory == 1">
                                    <i class="fa fa-trash"></i>
                                </button>
                                <button @click="showCategoryModal(categories.selected.id)" class="button is-primary">+</button>
                            </div>
                        </div>
                    </b-field>
                </div>

            </div>
            <div class="column is-full">
                <div v-if="hasError('category_id')">
                    <p class="help is-danger">{{ this.getError('category_id') }}</p>
                </div>
            </div>
        </div>


        <div class="columns">
            <div class="column">

                <div class="field" v-if="skusLoaded" :class="{'is-danger' : hasError('product.sku')}">
                    <b-field label="SKU">
                        <b-autocomplete
                                :disabled="!skusLoaded || (product.id > 0)"
                                v-model="product.sku"
                                placeholder="SKU"
                                :keep-first="skus.keepFirst"
                                :data="filteredSkus"
                                field="sku"
                                @select="option => skus.selected = option">
                        </b-autocomplete>
                    </b-field>
                    <div v-if="hasError('product.sku')">
                        <p class="help is-danger">{{ this.getError('product.sku') }}</p>
                    </div>
                </div>

            </div>

            <div class="column">
                <div class="field">
                    <label for="price" class="label">Price</label>
                    <div class="control">
                        <input id="price" type="text" :class="{'is-danger' : hasError('price')}" class="input"  v-model="product.price">
                    </div>
                    <div v-if="hasError('price')">
                        <p class="help is-danger">{{ this.getError('price') }}</p>
                    </div>
                </div>
            </div>
        </div>


        <label class="label">Key Benefits (up to Five)</label>
        <div class="columns is-multiline">
            
            <!--<div  class="column">-->
                <div v-for="(dropdown, index) in dropdownSelections" class="column" >
                    <div class="dropdown" :class="{'is-active' : dropdown.isActive}">
                        <div class="dropdown-trigger ">
                            <div class="columns">
                                <button @click="dropdown.isActive = !dropdown.isActive" class="button  is-10" aria-haspopup="true" aria-controls="dropdown-menu">
                                    <span v-if="dropdown.id > 0 && benefitsLoaded"><img :src="'/img/' + benefits[dropdown.id].icon + '.png'" class="benefit-icons">&nbsp;&nbsp; {{ benefits[dropdown.id].name }}</span>
                                    <span v-else>Select Key Benefit</span>
                                    <span class="icon is-small"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                </button>
                            </div>
                        </div>
                        <div class="dropdown-menu"  role="menu" v-if="benefitsLoaded">
                            <div class="dropdown-content">
                                <div v-for="id in benefits_order" @click="selectBenefit(index, id)" class="dropdown-item"><img :src="'/img/' + benefits[id].icon + '.png'" class="benefit-icons"> &nbsp;&nbsp;{{ benefits[id].name }} </div>
                                <!--<div v-for="id in Object.keys(benefits)" @click="selectBenefit(index, id)" class="dropdown-item"><img :src="'/img/' + benefits[id].icon + '.png'" class="benefit-icons"> &nbsp;&nbsp;{{ benefits[id].name }} </div>-->
                            </div>
                        </div>
                        <i v-if="dropdown.id > 0 && benefitsLoaded" @click="$set(dropdownSelections[index], 'id', 0);" class="fa fa-remove button  is-2"></i>
                    </div>
                    
                </div>
            <!--</div>-->
        </div>
        <!--<div class="columns">-->
            <!--<div v-for="(dropdown, index) in dropdownSelections" class="column">-->

                <!--<div  class="dropdown"  :class="{'is-active' : dropdown.isActive}">-->
                    <!--<div class="dropdown-trigger">-->
                        <!--<button @click="dropdown.isActive = !dropdown.isActive" class="button" aria-haspopup="true" aria-controls="dropdown-menu">-->
                            <!--<span v-if="dropdown.id > 0 && benefitsLoaded"><i :class="benefits[dropdown.id].icon">&nbsp;&nbsp;</i>{{ benefits[dropdown.id].name }}</span>-->
                            <!--<span v-else>Select Key Benefit</span>-->
                            <!--<span class="icon is-small"><i class="fa fa-angle-down" aria-hidden="true"></i></span>-->
                        <!--</button>-->
                        <!--<i v-if="dropdown.id > 0 && benefitsLoaded" @click="$set(dropdownSelections[index], 'id', 0);" class="fa fa-remove button"></i>-->
                    <!--</div>-->

                    <!--<div class="dropdown-menu" id="dropdown-menu" role="menu" v-if="benefitsLoaded">-->
                        <!--<div class="dropdown-content">-->
                            <!--<div v-for="id in Object.keys(benefits)" @click="selectBenefit(index, id)" class="dropdown-item"><i :class="benefits[id].icon"></i>&nbsp;&nbsp;{{ benefits[id].name }} </div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->


        <!--</div>-->


        <label class="label">Key Statements (up to Three)</label>
        <div v-for="(n,index) in 3" class="field">
            <div class="control">
                <input v-if="product.key_statements" type="text" :class="{'is-danger' : hasError('key_statements')}" class="input" v-model="product.key_statements[index]">
            </div>
            <div v-if="hasError('key_statements')">
                <p class="help is-danger">{{ this.getError('key_statements') }}</p>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <b-field label="Description">
                    <b-input maxlength="250" type="textarea" placeholder="Description" rows="2" v-model="product.description"></b-input>
                </b-field>
            </div>
            <div v-if="getError('description')">
                <p class="help is-danger">{{ this.getError('description') }}</p>
            </div>
        </div>


        <div class="field">
            <div class="control">
                <b-field label="Ingredients">
                    <b-input type="textarea" placeholder="Ingredients" rows="2" v-model="product.ingredients" :has_counter="false"></b-input>
                </b-field>
            </div>
            <div v-if="hasError('ingredients')">
                <p class="help is-danger">{{ this.getError('ingredients') }}</p>
            </div>
        </div>


        <!--<div class="field">-->
            <!--<div class="control">-->
                <!--<b-field label="Special Instructions">-->
                    <!--<b-input maxlength="30" type="textarea" v-model="product.special_instructions" placeholder="Special Instructions" rows="2"></b-input>-->
                <!--</b-field>-->
            <!--</div>-->
            <!--<div v-if="hasError('special_instructions')">-->
                <!--<p class="help is-danger">{{ this.getError('special_instructions') }}</p>-->
            <!--</div>-->
        <!--</div>-->

        <div class="field" v-if="specialInstructionsLoaded">
        <b-field label="Special Instructions">
        <b-autocomplete
                :disabled="!specialInstructionsLoaded"
                v-model="product.special_instructions"
                placeholder="Special Instructions"
                :keep-first="instructions.keepFirst"
                :data="filteredInstructions"
                field="special_instructions"
                @select="option => instructions.selected = option">
        </b-autocomplete>
        </b-field>
        </div>

        <div class="field">
            <div class="control">
                <b-field label="Nutrition Label Facts">
                    <b-input type="textarea" placeholder="Nutrition Label Facts" v-model="product.nutrition_facts" rows="2" :has_counter="false"></b-input>
                </b-field>
            </div>
            <div v-if="hasError('nutrition_facts')">
                <p class="help is-danger">{{ this.getError('nutrition_facts') }}</p>
            </div>
        </div>


        <div class="field">
            <div class="control">
                <b-field label="Allergens">
                    <b-input maxlength="75" type="textarea" v-model="product.allergens" placeholder="Allergens" rows="2"></b-input>
                </b-field>
            </div>
            <div v-if="hasError('allergens')">
                <p class="help is-danger">{{ this.getError('allergens') }}</p>
            </div>
        </div>


        <h4 class="title is-4">Inventory Par</h4>

        <div class="columns">

            <div v-if="product.locations" v-for="location in product.locations" class="column">

                <div class="field">
                    <label class="label">{{location.name}}</label>
                    <div class="control">
                        <input type="text" :class="{'is-danger' : hasError('par')}" class="input"  v-model="location.pivot.par_quantity">
                    </div>
                    <div v-if="hasError('par')">
                        <p class="help is-danger">{{ this.getError('par') }}</p>
                    </div>
                </div>

            </div>

        </div>

        <button class="button is-dark" @click="redirect()">Cancel</button>
        <button class="button is-primary" @click="saveProduct()">Save</button>

    </div>



</template>



<script type="text/babel">

    import PNotify from 'pnotify';
    import lodash from 'lodash';
    import swal from 'sweetalert2';

    export default {
        props: ['product-raw', 'action'],

        data() {
            return {
                barCodeString : [],
                scanning : false,

                product : {},


                itemsPerPage : 5,

                benefits : {},
                benefits_order : [],
                benefitsLoaded : false,

                dropdownSelections : [
                    {id: 0, isActive: false},
                    {id: 0, isActive: false},
                    {id: 0, isActive: false},
                    {id: 0, isActive: false},
                    {id: 0, isActive: false}
                ],

                errors : {},

                instructions : {
                    data: [
                    ],
                    special_instructions : '',
                    keepFirst: false,
                    selected: null
                },
                specialInstructionsLoaded : false,

                skus : {
                    data: [
                    ],
                    sku : '',
                    keepFirst: false,
                    selected: null
                },
                skusLoaded : false,

                categories : {
                    data: [
                    ],
                    name : '',
                    selected: null,
                    subCategorySelected: null
                },
                categoriesLoaded : false,
                subCategoriesLoaded : false,
                categoryModalVisible : false,
                categoryModalName : '',
                categoryModalCanCancel : ['x', 'escape'],
                categoryModalParentId : null,
                categoryModalTitle : '',
                categoryModalPlaceholder : '',

                names : {
                    data: [
                    ],
                    name : '',
                    keepFirst: false,
                    selected: null
                },
                namesLoaded : false,
                locations : []


            };
        },


        computed: {

            disableDeleteCategory : function() {
                return (this.categories.selected == null) || (this.categories.selected != null && this.categories.selected.has_children == 1);
            },

            disableDeleteSubcategory : function() {
                return (this.categories.subCategorySelected == null) || (this.categories.subCategorySelected != null && this.categories.subCategorySelected.has_children == 1);
            },

            sku_selected : function() {
                return(this.skus.selected);
            },

            category_selected : function() {
                return(this.categories.selected);
            },

            subcategory_selected : function() {
                return(this.categories.subCategorySelected);
            },

            benefit_id1 : function() {
                return (this.dropdownSelections[0].id);
            },
            benefit_id2 : function() {
                return (this.dropdownSelections[1].id);
            },
            benefit_id3 : function() {
                return (this.dropdownSelections[2].id);
            },
            benefit_id4 : function() {
                return (this.dropdownSelections[3].id);
            },
            benefit_id5 : function() {
                return (this.dropdownSelections[4].id);
            },
            filteredInstructions() {
                var vm = this;
                if ( this.specialInstructionsLoaded && vm.product.special_instructions ) {
                    return this.instructions.data
                    .filter((option) => {
                        return option.special_instructions
                            .toString()
                            .toLowerCase()
                            .indexOf(vm.product.special_instructions.toLowerCase()) == 0
                    })
                    .sort(function(option1,option2) {
                        if ( option1.special_instructions < option2.special_instructions ) {
                            return -1;
                        }
                        if ( option1.special_instructions > option2.special_instructions ) {
                            return 1;
                        }
                        return 0;
                    })
                }
                return [];
            },
            filteredSkus() {
                var vm = this;
                if ( this.skusLoaded && vm.product.sku ) {
                    return this.skus.data.filter((option) => {
                        return option.sku
                            .toString()
                            .toLowerCase()
                            .indexOf(vm.product.sku.toLowerCase()) == 0
                    })
                    .sort(function(option1,option2) {
                        if ( option1.sku < option2.sku ) {
                            return -1;
                        }
                        if ( option1.sku > option2.sku ) {
                            return 1;
                        }
                        return 0;
                    })
                }
                return [];
            },
            filteredNames() {
                var vm = this;
                if ( this.namesLoaded && vm.product.name ) {
                    return this.names.data.filter((option) => {
                        return option.name
                            .toString()
                            .toLowerCase()
                            .indexOf(vm.product.name.toLowerCase()) == 0
                    })
                    .sort(function(option1,option2) {
                        if ( option1.name < option2.name ) {
                            return -1;
                        }
                        if ( option1.name > option2.name ) {
                            return 1;
                        }
                        return 0;
                    })
                }
                return [];
            },
            filteredCategories() {
                var vm = this;
                if ( this.categoriesLoaded ) {
                    return this.categories.data
                    .sort(function(option1,option2) {
                        if ( option1.name < option2.name ) {
                            return -1;
                        }
                        if ( option1.name > option2.name ) {
                            return 1;
                        }
                        return 0;
                    })
                }
                return [];
            },
            filteredSubCategories() {
                var vm = this;
                if ( this.subCategoriesLoaded && this.categories.selected ){
                    return this.categories.selected.subcategories
                    .sort(function(option1,option2) {
                        if ( option1.name < option2.name ) {
                            return -1;
                        }
                        if ( option1.name > option2.name ) {
                            return 1;
                        }
                        return 0;
                    })
                }
                return [];
            },
        },

        watch: {

            sku_selected : function() {
                if (this.sku_selected == null ) {
                    this.$delete(this.errors, 'sku');
                    return;
                }
                this.$set(this.errors, 'sku', ['Cannot duplicate SKUs']);
            },

            benefit_id1 : function() {
                this.product.key_benefits[0] = this.benefit_id1;
            },
            benefit_id2 : function() {
                this.product.key_benefits[1] = this.benefit_id2;
            },
            benefit_id3 : function() {
                this.product.key_benefits[2] = this.benefit_id3;
            },
            benefit_id4 : function() {
                this.product.key_benefits[3] = this.benefit_id4;
            },
            benefit_id5 : function() {
                this.product.key_benefits[4] = this.benefit_id5;
            },
        },


        mounted() {
            console.log('Component mounted.')
        },

        created() {
            var vm = this;

            this.product = JSON.parse(this.productRaw);

            this.getLocations();
            this.getCategories();
            this.getBenefits();
            this.getInstructions();
            this.getSkus();
            this.getNames();

            if ( this.hasNonEmptyAttribute(this.product, 'id') ) {
                this.product.key_benefits.forEach(function(v,i,a) {
                    vm.dropdownSelections[i].id = v;
                });
            }
        },


        methods: {

            hasNonEmptyAttribute(o, prop) {
                if (o.hasOwnProperty(prop)) {
                    if (o[prop] != null && o[prop] != '' && o[prop] != 0) {
                        return true;
                    }
                }
                return false;
            },

            selectBenefit(index, new_id) {
                var vm = this;

//                console.log(index);
//                console.log(new_id);
//                console.log(this.dropdownSelections);
//                console.log(this.dropdownSelections[index].id);
//                console.log(this.dropdownSelections[index].isActive);

                this.$set(this.dropdownSelections[index], 'id', new_id);
                this.$set(this.dropdownSelections[index], 'isActive', !this.dropdownSelections[index].isActive);

            },

            getBenefits() {
                var vm = this;

                axios.post('/benefit/list')
                    .then(function (response) {
                        if ( response.data.success ) {
                            var benefits = response.data.data;
                            vm.benefits_order = [];
                            benefits.forEach(function(v,i,a) {
                                vm.benefits[v.id] = v;
                                vm.benefits_order.push(v.id);
                            });
                            vm.benefitsLoaded = true;
                        }
                    });
            },

            getInstructions() {
                var vm = this;

                axios.post('/product/instructions')
                    .then(function (response) {
                        if ( response.data.success ) {
                            vm.instructions.data = response.data.data;
                            vm.specialInstructionsLoaded = true;
                        }
                    });
            },

            getSkus() {
                var vm = this;

                axios.post('/product/skus')
                    .then(function (response) {
                        if ( response.data.success ) {
                            vm.skus.data = response.data.data;
                            vm.skusLoaded = true;
                        }
                    });
            },

            getNames() {
                var vm = this;

                axios.post('/product/names')
                    .then(function (response) {
                        if ( response.data.success ) {
                            vm.names.data = response.data.data;
                            vm.namesLoaded = true;
                        }
                    });
            },

            getLocations() {

                var vm = this;
                var queryParms = {};

                axios.post('/shipment/locations', queryParms)
                    .then(function (response) {
                        vm.locations = response.data;

                        if ( vm.hasNonEmptyAttribute(vm.product, 'id') ) {

                            /* if a location is NOT in the product_location pivot table, we have to add it */
                            vm.locations.forEach(function (v, i, a) {
                                var l = vm.product.locations.find(function (v2, i2, a2) {
                                    return (v2.id == v.id);
                                });
                                if (l === undefined) {
                                    v.pivot = {
                                        par_quantity : 0
                                    };
                                    vm.product.locations.push(v);
                                }
                            });
                        }
                        else {
                            vm.emptyProduct();
                        }
                    });
            },


            getCategories() {
                var vm = this;

                axios.get('/product/categories')
                    .then(function (response) {
                        if ( response.data.success ) {
                            vm.categories.data = response.data.data;
                            vm.categoriesLoaded = true;
                            vm.subCategoriesLoaded = true;

                            if ( vm.hasNonEmptyAttribute(vm.product, 'id') ) {
                                vm.selectCategoriesInDropdowns();
                            }

                            /* Once the categories have been selected for existing products,
                            we can enable the watcher */

                            vm.$watch('category_selected', function(newvalue, oldvalue) {
                                if (newvalue != null ) {
                                    vm.$delete(this.errors, 'category_id');
                                }
                                if ( newvalue != oldvalue ) {
                                    vm.categories.subCategorySelected = null;
                                }
                            });
                        }
                    });
            },

            tryRemoveCategory(id) {
                this.areYouSure('Are you sure you want to remve this category', this.removeCategory, id);
            },

            tryRemoveSubCategory(id) {
                this.areYouSure('Are you sure you want to remove this sub-category', this.removeCategory, id);
            },


            removeCategory(id) {
                var vm = this;
                var queryParms = {
                    id : id
                };

                axios.post('/product/categories/delete', queryParms)
                    .then(
                        (response) =>  {
                            if ( response.data.success ) {

                                // Clear the selection
                                if ( id == vm.categories.selected.id ) {

                                    vm.categories.selected = null;

                                }

                                else if ( id == vm.categories.subCategorySelected.id ) {

                                    // remove the subcategory from the selected category subcategories (if that makes sense)
                                    var index = vm.categories.selected.subcategories.findIndex(function(v,i,a) {
                                        return ( v.id == id );
                                    });

                                    if ( index >= 0 ) {
                                        vm.categories.selected.subcategories.splice(index, 1);
                                    }

                                    vm.categories.subCategorySelected = null;
                                }
                                vm.categories.data = response.data.data;
                            }
                        },
                        (error) =>  {
                            // vm.displayError('Unable to save product. See errors in <span style="color:red">red</span>');
                            // vm.errors = error.response.data;
                        }
                    )
            },


            addCategory() {
                var vm = this;
                var queryParms = {
                    name : this.categoryModalName,
                    parent_id : this.categoryModalParentId
                };

                axios.put('/product/categories', queryParms)

                    .then(
                        (response) =>  {
                            if ( response.data.success ) {
                                vm.categories.data = response.data.data;

                                // We have to force a reselect on the new main category, to include the new subcategory
                                vm.categories.data.some(function(v,i,a) {
                                    if ( vm.categories.selected && ( v.id == vm.categories.selected.id) ) {
                                        vm.categories.selected = v;
                                        return true;
                                    }
                                });
                                vm.categoryModalVisible = false;
                                vm.displayNotification("Category has been added");
                            } else {
                                this.$set(this.errors, 'categoryModalName', [response.data.msg]);
                            }
                        },
                        (error) =>  {
                            // vm.displayError('Unable to save product. See errors in <span style="color:red">red</span>');
                            // vm.errors = error.response.data;
                        }
                    )
            },


            selectCategoriesInDropdowns() {

                var vm = this;

                /* Find sub category */
                var subCategory = null
                if( this.categories.data.some(function(v,i,a) {
                    return v.subcategories.some(function(v2,i2,a2) {
                        if (v2.id == vm.product.category_id) {
                            subCategory = v2;
                            return true;
                        }
                    });
                }) ) {

                    if ( subCategory.parent_id != null ) {

                        /* find category */
                        var category = this.categories.data.find(function(v,i,a) {
                            return (v.id == subCategory.parent_id);
                        });

                        if ( category !== undefined ) {
                            this.categories.selected = category;
                            this.categories.subCategorySelected = subCategory;
                        }
                    }
                }
            },

            showCategoryModal(parent_id = null) {
                this.categoryModalVisible = true;
                this.categoryModalName = '';
                this.categoryModalParentId = parent_id;
                this.$delete(this.errors, 'categoryModalName');

                if (parent_id == null) {
                    this.categoryModalPlaceholder = "Please Enter New Category Name";
                    this.categoryModalTitle = "Add New Category";
                }
                else {
                    this.categoryModalPlaceholder = "Please Enter New Sub Category Name";
                    this.categoryModalTitle = "Add New Sub Category";
                }
            },


            redirect() {
                window.location = '/product';
            },

            saveProduct() {
                var vm = this;

                if ( !this.categories.selected || !this.categories.subCategorySelected ) {
                    this.$set(this.errors, 'category_id', ['Please select both a Main Category and a Sub Category']);
                    vm.displayError('Please select both a Main Category and a Sub Category');
                    return;
                }

                this.product.category_id = this.categories.subCategorySelected.id;
                var queryParms = {
                    product: this.product
                };

                axios.post(this.action, queryParms)
                    .then(
                        (response) =>  {
                            if ( response.data.success ) {
                                vm.displayNotification('Product was saved');
                            }
                            vm.onStartOver();
                        },
                        ({response}) =>  {
                            vm.errors = response.data.errors
                            let message = ''
                            for (let key in vm.errors) {
                                // skip loop if the property is from prototype
                                if (!vm.errors.hasOwnProperty(key)) continue
                                let obj = vm.errors[key]
                                for (let prop in obj) {
                                    if(!obj.hasOwnProperty(prop)) continue
                                    message += `${obj[prop]}<br>`
                                }
                            }

                            if (message === 'Product must have a unique SKU<br>Product must have a unique Name<br>') {
                                message = 'Product must have unique SKU and Name';
                            }

                            vm.displayError('Unable to save product. <br>' + message)
                        }
                    )
            },


            displayError(msg) {

                swal({
                    title: '',
                    type: 'error',
                    html: msg,
                    timer: 3000,
                    showCloseButton: false,
                    confirmButtonText: 'OK'
                })
                .catch(swal.noop);
            },

            displayNotification(msg) {

                swal({
                    title: '',
                    type: 'info',
                    html: msg,
                    timer: 3000,
                    showCloseButton: false,
                    confirmButtonText: 'OK'
                })
                .catch(swal.noop);
            },

            areYouSure(msg, onYes, param) {

                swal({
                    title: msg,
                    type: 'question',
                    text: '',
                    showCloseButton: false,
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                    confirmButtonColor: '#ff3860'
                })
                .then(function(value) {
                    if (!value) {
                        return;
                    }
                    if ( onYes ) {
                        onYes(param);
                    }
                })
                .catch(swal.noop);
            },


            onStartOver() {
                if ( !this.hasNonEmptyAttribute(this.product, 'id') ) {
                    this.emptyProduct();
                    this.clearErrors();
                }
                else {
                    window.location = '/product';
                }
            },

            hasError(field) {
                return (this.hasNonEmptyAttribute(this.errors, field));
            },

            getError(field) {
                if ( this.hasError(field) ) {
                    return (this.errors[field][0]);
                }
                return '';
            },

            clearErrors() {
                this.errors = {};
            },

            emptyProduct() {
                var vm = this;
                this.product = {
                    special_instructions : '',
                    allergens : '',
                    nutrition_facts : '',
                    ingredients : '',
                    name : '',
                    sku : '',
                    id : 0,
                    key_benefits : [
                        0,0,0,0,0
                    ],
                    key_statements : [
                        '','',''
                    ],
                    locations : []
                };

                this.product.key_benefits.forEach(function(v,i,a) {
                    vm.$set(vm.dropdownSelections[i], 'id', 0);
                });

                this.locations.forEach(function(v,i,a) {
                    var location = {
                        id : v.id,
                        name: v.name,
                        pivot : {
                            par_quantity : 0
                        }
                    };
                    console.log(location);
                    vm.product.locations.push(location);
                });

                this.categories.selected = null;
                this.categories.subCategorySelected = null;
            },

        }
    }
</script>

<style lang="scss">
    .product-component {
        .dropdown.v-select {
            margin-left: 0;
            width: 100%;
        }

        .dropdown {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex; 
            position: relative;
            vertical-align: top;
            margin-left: 10px;
        }
    }

    .dropdown-toggle.clearfix {
        width: 100%;
    }

    .v-select .dropdown-toggle {
        display: flex !important;
        flex-wrap: wrap;}

    .v-select input[type=search], .v-select input[type=search]:focus {
        flex-basis: 20px;
        flex-grow: 1;
        height: 33px;
        padding: 0 20px 0 10px;
        width: 100% !important;
    }



</style>