<template>

    <div class="product-component">


        <div v-if="dataLoaded">
            
                <div class="content">
                    <h1>Available Products</h1>
                </div>

                <div class="columns">
                    <div class="column">
                        <a class="button is-primary" href="/product/create">Add New</a>
                    </div>
                    <div class="column search">
                        <b-field>
                            <b-input @search.native="filter()" placeholder="Search by Product Name or SKU"
                                     type="search"
                                     icon-pack="fa"
                                     icon="search"
                                     v-model="currentFilter.keyword">
                            </b-input>
                        </b-field>
                    </div>
                </div>



                <br>
                <div >
                    <table class="table is-fullwidth is-striped">
                        <thead>
                        <td>Name</td>
                        <td>SKU</td>
                        <td></td>
                        </thead>
                        <tbody>
                        <tr v-for="(product, index) in productsData">
                            <td>{{ product.name }}</td>
                            <td>{{ product.sku }}</td>
                            <td><i @click="removeItem(index)" class="fa fa-remove button"></i>
                                <i @click="editItem(index)" class="fa fa-pencil button"></i></td>
                        </tr>
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>

                <pagination v-if="dataLoaded" :data="pagination" v-on:pagination-change-page="list"></pagination>

        </div>
    </div>

</template>




<script type="text/babel">

    import PNotify from 'pnotify';
    import lodash from 'lodash';
    import swal from 'sweetalert2';

    export default {
        props: ['products-raw'],

        data() {

            return {
                currentFilter : {
                    keyword : ''
                },
                productsData : [],
                itemsPerPage : 20,
                dataLoaded : false,
                pagination : {}
            }
        },
        computed: {


        },

        watch: {
        },


        mounted() {
            console.log('Component mounted.')
        },

        created() {
            this.list();
        },


        methods: {

            clearSearch() {
                console.log("here");
                if ( this.currentFilter == '' ) {
                    this.list();
                }
            },

            filter() {
                this.list();
            },

            list(page) {

                var vm = this;
                var queryParms = {};
                queryParms.nbItems = this.itemsPerPage;
                queryParms.filter = this.currentFilter;

                if (typeof page === 'undefined') {
                    page = 1;
                }

                console.log(queryParms);
                axios.post('/product/list?page=' + page, queryParms)
                    .then(function (response) {
                        console.log(response.data );
                        vm.productsData = response.data.pagination.data;
                        vm.pagination = response.data.pagination;
                        vm.dataLoaded = true;
                    });
            },

            editItem(index) {
                window.location = '/product/edit/'  + this.productsData[index].id;
            },

            removeItem(index) {
                var vm = this;
                swal({
                    title: 'Are you sure you want to delete this product?',
                    type: 'question',
                    text: '',
                    showCloseButton: false,
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                    confirmButtonColor: '#ff3860'
                    })
                    .then(function(value) {
                        if (!value) {
                            return;
                        }
                        var queryParms = {
                            id : vm.productsData[index].id
                        };

                        console.log(queryParms);
                        axios.post('/product/delete', queryParms)
                            .then(function (response) {
                                console.log(response.data);
                                vm.$delete(vm.productsData, index);
                            })
                            .catch(error => {
                                vm.displayError('Unable to delete this product');
                            });
                    })
                    .catch(swal.noop);
            },


            displayError(msg) {
                console.log(msg);
                new PNotify({
                    title: '',
                    text: msg,
                    buttons: {
                        closer_hover: true
                    },
                    addclass: "notify-error",
                    nonblock: {
                        nonblock: true
                    },
                    delay: 2000,
                    width: "600px",
                    destroy: true,
                    type: 'error'
                });
            },

            displayNotification(msg) {
                console.log(msg);
                new PNotify({
                    title: '',
                    text: msg,
                    buttons: {
                        closer_hover: true
                    },
                    addclass: "notify-message",
                    nonblock: {
                        nonblock: true
                    },
                    delay: 2000,
                    width: "600px",
                    type: 'info',
                    destroy: true
                });
            },

            onStartOver() {
            },

            clearErrors() {
                this.errors = [];
            }
        }
    }
</script>
