<template>

    <div class="shipment-component">


        <div v-if="dataLoaded">

            <h1 class="title">
                Prepare Shipment
            </h1>

            <div class="columns" >

            <div class="column">


            <p class="subtitle">Select location to send shipment</p>
            <p class="content"><b>Current Location:</b>
                <span v-if="hasLocation">{{ currentShipment.location.name }}</span>
                <span v-else>[not selected]</span>
            </p>

            <div v-if="hasLocation">
                {{currentShipment.location.address}}<br>
                <div v-if="currentShipment.location.address2">{{currentShipment.location.address2}}<br></div>
                {{currentShipment.location.city}}, {{currentShipment.location.state}} {{currentShipment.location.zip}}<br>
            </div>

            </div>
            </div>

            <div class="columns">

            <div class="column" >

            <div v-if="locationsLoaded">
            <b-autocomplete
                    id="location"
                    :disabled="!locationsLoaded"
                    v-model="locations.name"
                    placeholder="Select Location"
                    :keep-first="locations.keepFirst"
                    :data="filteredLocations"
                    icon="search"
                    icon-pack="fa"
                    field="name"
                    @select="option => currentShipment.location = option"
                    @keydown.native ="ignoreScannerLocation()">
            </b-autocomplete>
            </div>

            </div>

            </div>

            <div class="columns">
            <div class="column">

            <table class="table shipment-prepare">
                <thead>
                <tr>
                    <th class="no_column">#</th>
                    <th class="sku_column">SKU</th>
                    <th class="name_column">Product</th>
                    <th class="qty_column">Current</th>
                    <th class="action_column"></th>
                </tr>
                </thead>
                <tbody>

                <tr v-for="(product, index) in currentShipment.products">
                    <td>{{index+1}}</td>
                    <td>{{product.sku}}</td>
                    <td>{{product.name}}</td>
                    <td><input class="input" @keypress="ignoreScannerQty(index,$event)" type="text" v-model="product.pivot.quantity" size="3"></td>
                    <td><i @click="removeItem(index)" class="button fa fa-remove"></i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <b-autocomplete
                            id="sku"
                            :disabled="!dataLoaded"
                            v-model="products.sku"
                            placeholder="Enter SKU"
                            :keep-first="products.skuKeepFirst"
                            :data="filteredSkus"
                            icon="search"
                            icon-pack="fa"
                            field="sku"
                            @select="option => products.skuSelected = option"
                            @keydown.native ="ignoreScannerSku()">
                        </b-autocomplete>
                    </td>

                    <td>
                        <div style="display:flex;">
                            <div style="flex:1;">
                                <b-autocomplete
                                    id="product"
                                    :disabled="!dataLoaded"
                                    v-model="products.name"
                                    placeholder="Enter Product Name"
                                    :keep-first="products.nameKeepFirst"
                                    :data="filteredProductNames"
                                    icon="search"
                                    icon-pack="fa"
                                    field="name"
                                    @select="option => products.nameSelected = option"
                                    @keydown.native ="ignoreScannerName()">
                                </b-autocomplete>
                            </div>
                            <div style="width:40px; margin-left:5px;">
                                <button @click="addProduct" class="button is-primary">+</button>
                            </div>
                        </div>
                    </td>

                    <td><input @click="manualItemQuantity = ''" class="input" type="text" v-model="manualItemQuantity" size="3"></td>
                    <td><i @click="addManualItem" class="button fa fa-plus-circle"></i></td>
                </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
            </div>
            </div>

            <button class="button is-dark" @click="onStartOver">Start Over</button>
            <button class="button is-primary" @click="onClickPrint">Print Packing Slip ></button>


        </div>
    </div>

</template>




<script type="text/babel">

    import PNotify from 'pnotify';
    import lodash from 'lodash';
    import swal from 'sweetalert2';

    export default {
        props: ['shipment-raw'],

        data() {
            return {

                currentShipment : {
                    products : [],
                    location : {
                        name: ''
                    }
                },
                errors : [],

                barCodeString : [],
                scanning : false,

                manualItemQuantity : 1,

                locations: {
                    data: [
                    ],
                    keepFirst: false,
                    name: '',
                    selected: {}
                },
                locationsLoaded : false,

                products: {
                    data: [
                    ],
                    skuKeepFirst: false,
                    nameKeepFirst: false,
                    name: '',
                    sku: '',
                    skuSelected : null,
                    nameSelected : null
                },
                productsLoaded : false,

            }
        },
        computed: {

            dataLoaded() {
                return (this.productsLoaded && this.locationsLoaded);
            },

            manualItemName() {
                return (this.products.nameSelected);
            },

            manualItemSku() {
                return (this.products.skuSelected);
            },

            filteredLocations() {
                var vm = this;
                if ( this.locationsLoaded ) {
                    return this.locations.data.filter((option) => {
                        return option.name
                            .toString()
                            .toLowerCase()
                            .indexOf(vm.locations.name.toLowerCase()) == 0
                    })
                    .sort(function (option1, option2) {
                        if (option1.name < option2.name) {
                            return -1;
                        }
                        if (option1.name > option2.name) {
                            return 1;
                        }
                        return 0;
                    });
                }
            },


            filteredSkus() {
                var vm = this;
                if ( this.productsLoaded ) {
                    return this.products.data.filter((option) => {
                        return option.sku
                            .toString()
                            .toLowerCase()
                            .indexOf(vm.products.sku.toLowerCase()) == 0
                    })
                    .sort(function (option1, option2) {
                        if (option1.sku < option2.sku) {
                            return -1;
                        }
                        if (option1.sku > option2.sku) {
                            return 1;
                        }
                        return 0;
                    });
                }
            },

            filteredProductNames() {
                var vm = this;
                if ( this.productsLoaded ) {
                    return this.products.data.filter((option) => {
                        return option.name
                            .toString()
                            .toLowerCase()
                            .indexOf(vm.products.name.toLowerCase()) >= 0
                    })
                    .sort(function(option1,option2) {
                        if ( option1.name < option2.name ) {
                            return -1;
                        }
                        if ( option1.name > option2.name ) {
                            return 1;
                        }
                        return 0;
                    });
                }
            },

            hasLocation() {
                return (
                    this.locationsLoaded && this.currentShipment.location && Object.keys(this.currentShipment.location).length > 0 &&
                    this.currentShipment.location.name.length > 0
                );
            },


        },

        watch: {

            manualItemName() {
                if ( !this.products.nameSelected ) {
                    return;
                }
                this.products.sku = this.products.nameSelected.sku;

            },

            manualItemSku() {
                if ( !this.products.skuSelected  ) {
                    return;
                }
                this.products.name = this.products.skuSelected.name;
            }
        },


        mounted() {
            console.log('Component mounted.')
        },

        created() {
            this.today = this.$moment().format("MM/DD/YY");
            this.getLocations();
            this.getProducts();

            let temp = JSON.parse(this.shipmentRaw);

            /**
             * If it's a duplicate, get rid of the id
             */
            if ( temp.hasOwnProperty('id') ) {
                this.currentShipment = temp;
                this.currentShipment.id = 0;
            }

            var vm = this;

            window.addEventListener('keyup', this.handleKeyUp);
            window.addEventListener('keydown', this.handleKeyDown);
            window.addEventListener('focus', this.handleWhenTabGetsFocus);
            //window.onfocus = this.whenBrowserTabGetsFocus;

        },

        destroyed() {
            window.removeEventListener('keyup', this.handleKeyUp);
            window.removeEventListener('keydown', this.handleKeyDown);
            window.removeEventListener('focus', this.handleWhenTabGetsFocus);
        },


        methods: {

            addProduct() {
                window.open('/product/create','_blank');
            },

            handleKeyDown(e) {
                console.log("Window keydown");
                this.last_tick = performance.now();

                 if ( e.target.tagName == 'BUTTON' ) {
                    e.stopPropagation();
                    e.preventDefault();
                    return false;
                }

                if ( !this.scanning ) {
                    this.barCodeString = [];
                }
            },

            handleKeyUp(e) {
                console.log("Window keyup");
                var now_tick = performance.now();
                console.log(now_tick - this.last_tick);
                if ( now_tick - this.last_tick < 50 ) {
                    this.scanning = true;
                }
                else  {
                    this.scanning = false;
                    this.barCodeString = [];
                }

                //console.log(this.scanning);

                if  ( e.which == 13  && this.scanning ) {

                    var itemNumber = this.barCodeString.join("");
                    console.log("Barcode Scanned: " + itemNumber);

//                    if (e.target.id == 'location')  {
//                        var str = this.locations.name;
//                        this.locations.name = str.replace(itemNumber, '');
//                    }
//                    if (e.target.id == 'product')  {
//                        var str = this.products.name;
//                        this.products.name = str.replace(itemNumber, '');
//                    }
//                    if (e.target.id == 'sku')  {
//                        var str = this.products.sku;
//                        this.products.sku = str.replace(itemNumber, '');
//                    }
                    this.addItem(itemNumber, 1);


                    this.scanning = false;
                    this.barCodeString = [];
                    return;
                }
                /* Numbers or letters */
                if ( !(e.which >= 48 && e.which <= 57) && !(e.which >= 65 && e.which <= 90) ) {
                    return;
                }

                this.barCodeString.push(String.fromCharCode(e.which));
                console.log(e.which + ":" + this.barCodeString.join("|"));
            },

            handleWhenTabGetsFocus() {
                this.getProducts();
            },


            ignoreScannerQty(productIndex, e) {
                if ( this.scanning == true ) {
                    var str = this.currentShipment.products[productIndex].pivot.quantity;
                    this.currentShipment.products[productIndex].pivot.quantity = str.substr(0, str.length-1);
                }
            },

            ignoreScannerLocation(e) {
                if ( this.scanning == true ) {
                    var str = this.locations.name;
                    this.locations.name = str.substr(0, str.length-1);
                }
            },

            ignoreScannerSku(e) {
                if ( this.scanning == true ) {
                    var str = this.products.sku;
                    this.producs.sku = str.substr(0, str.length-1);
                }
            },

            ignoreScannerName(e) {
                if ( this.scanning == true ) {
                    var str = this.products.name;
                    this.producs.name = str.substr(0, str.length-1);
                }
            },


            getLocations() {

                var vm = this;
                var queryParms = {};

                axios.post('/shipment/locations', queryParms)
                    .then(function (response) {
                        vm.locations.data = response.data;
                        vm.locationsLoaded = true;
                    });
            },


            getProducts() {

                var vm = this;
                var queryParms = {};

                axios.post('/shipment/products', queryParms)
                    .then(function (response) {
                        vm.products.data = response.data;
                        vm.productsLoaded = true;
                    });
            },


            getProductByName(name) {
                console.log('Finding :' + name);
                var index = this.products.data.findIndex(function (v, i, a) {
                    return (v.name == name);
                });
                console.log(index);
                return (this.products.data[index]);
            },

            getProductBySku(sku) {
                var index = this.products.data.findIndex(function (v, i, a) {
                    return (v.sku == sku);
                });

                return (this.products.data[index]);
            },


            addItem(sku, qty) {
                var vm = this;

                console.log("adding " + qty + " items");

                var index = vm.currentShipment.products.findIndex(function (v, i, a) {
                    return (v.sku == sku);
                });

                if ( index >= 0 ) {
                    vm.currentShipment.products[index].pivot.quantity = parseInt(qty) + parseInt(vm.currentShipment.products[index].pivot.quantity);
                    localStorage.setItem('shipment', JSON.stringify(vm.currentShipment));
                    return;
                }

                var queryParms = {};
                queryParms.sku = sku;

                axios.post('/shipment/product', queryParms)

                    .then(function (response) {


                        if ( response.data.success) {

                            var product = response.data.data;

                            var index = vm.currentShipment.products.findIndex(function (v, i, a) {
                                return (v.sku == sku);
                            });
                            if ( index >= 0 ) {
                                vm.currentShipment.products[index].pivot.quantity = parseInt(qty) + parseInt(vm.currentShipment.products[index].pivot.quantity);
                                return;
                            }
                            else {
                                product.pivot = {
                                    quantity: qty
                                };
                                vm.currentShipment.products.push(product);
                            }

                            localStorage.setItem('shipment', JSON.stringify(vm.currentShipment));
                        }
                        else {
                            vm.displayError("This item does not exist");
                            return;
                        }
                    });
            },

            addManualItem() {

                if ( !this.products.sku ) {
                    this.displayError('Please enter valid SKU');
                    return;
                }

                if ( !this.manualItemQuantity ) {
                    this.displayError('Please enter valid Quantity');
                    return;
                }

                this.addItem(this.products.sku, this.manualItemQuantity);
                console.log("item added");
                this.products.sku = '';
                this.products.name = '';
                this.manualItemQuantity = 1;

                return;
            },


            removeItem(index) {
                this.currentShipment.products.splice(index, 1);
                localStorage.setItem( 'shipment', JSON.stringify(this.currentShipment) );
            },


            updateShipmentandRedirect() {
                var vm = this;
                var queryParms = {};

                console.log("here");

                queryParms.shipment = vm.currentShipment;

                axios.post('/shipment/save', queryParms)
                .then(function (response) {
                    if (response.data.success) {
                        vm.currentShipment = response.data.data;
                        localStorage.setItem( 'shipment', JSON.stringify(vm.currentShipment) );
                        vm.displayNotification('Shipment has been created');
                        localStorage.removeItem('shipment');
                        window.location = `/shipment/print/${vm.currentShipment.id}`;
                    }
                });
            },


            getShipment() {
                var vm = this;
                var queryParms = {};

                axios.post('/shipment/get', queryParms)
                .then(function (response) {

                    if (response.data.success) {
                        vm.currentShipment = response.data.data;
                    }
                });
            },



            displayError(msg) {
                new PNotify({
                    title: '',
                    text: msg,
                    buttons: {
                        closer_hover: true
                    },
                    addclass: "notify-error",
                    nonblock: {
                        nonblock: true
                    },
                    delay: 2000,
                    width: "600px",
                    destroy: true,
                    type: 'error'
                });

//                swal({
//                    title: '',
//                    type: 'error',
//                    html: msg,
//                    showCloseButton: false,
//                    showCancelButton: false,
//                    confirmButtonText: 'OK'
//                })
//                .catch(swal.noop);
            },

            displayNotification(msg) {
                new PNotify({
                    title: '',
                    text: msg,
                    buttons: {
                        closer_hover: true
                    },
                    addclass: "notify-message",
                    nonblock: {
                        nonblock: true
                    },
                    delay: 2000,
                    width: "600px",
                    type: 'info',
                    destroy: true
                });
            },

            onClickPrint() {

                var vm = this;
                if ( !vm.hasLocation ) {
                    vm.displayError('Enter Location before printing Slip.');
                    return;
                }

                if ( !vm.currentShipment.products.length ) {
                    vm.displayError('Add at least one product to the shipment.');
                    return;
                }

                swal({
                    title: 'Complete Package for Shipment?',
                    type: 'question',
                    html: 'Once complete, you will not be able to make any edits to the contents of this shipment.',
                    showCloseButton: false,
                    showCancelButton: true,
                    cancelButtonText: 'Go Back',
                    confirmButtonText: 'Complete & Print Packing Slip'
                })
                .then(function () {
                    vm.updateShipmentandRedirect();
                })
                .catch(swal.noop);
            },

            onStartOver() {

                var vm = this;

                swal({
                    title: '',
                    type: 'warning',
                    html: 'Are you sure you want to remove all products currently in this shipment?',
                    showCloseButton: false,
                    showCancelButton: true,
                    cancelButtonText: 'Go Back',
                    confirmButtonText: 'Yes'
                })
                .then(function () {
                    vm.currentShipment = {
                        location: {
                            name: '',
                        },
                        products: []
                    };
                    localStorage.removeItem('shipment');
                })
                .catch(swal.noop);
            },

            clearErrors() {
                this.errors = [];
            }
        }
    }
</script>
