<template>

    <div class="shipment-list">


        <div v-if="dataLoaded">
            
                <div class="content">
                    <h1>Shipment History</h1>
                </div>

                <a class="button is-primary" href="/shipment/create">Create New</a>
                <a class="button is-primary" @click="showShipmentLookup()">Create Duplicate</a>


                <b-modal
                        :active.sync="shipmentLookup.isShowingModal"
                        has-modal-card
                        :canCancel="shipmentLookup.canCancel">
                    <form action="">
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title">Select Existing Shipment</p>
                            </header>
                            <section class="modal-card-body">
                                <b-autocomplete
                                        ref="lookup"
                                        :disabled="!dataLoaded"
                                        v-model="shipmentLookup.current"
                                        placeholder="Enter # or Scan Shipment"
                                        :keep-first="false"
                                        :data="shipmentLookup.data"
                                        icon="search"
                                        icon-pack="fa"
                                        field="sku"
                                        @select="option => shipmentLookup.selected = option">
                                </b-autocomplete>
                            </section>
                            <footer class="modal-card-foot">
                                <button class="button" type="button" @click="shipmentLookup.isShowingModal=false">Close</button>
                                <a @click="duplicate(shipmentLookup.selected.id)" class="button is-primary">Copy This Shipment</a>
                            </footer>
                        </div>
                    </form>
                </b-modal>

                <br>
                <div >
                    <table class="table is-fullwidth is-striped sortable">
                        <thead>
                        <th class="sorta"@click="sort('sku')">Order #
                            <i v-if="sortKey != 'sku'" class="fa fa-sort"></i>
                            <i v-if="sortKey == 'sku' && sortOrder" class="fa fa-sort-up"></i>
                            <i v-if="sortKey == 'sku' && !sortOrder" class="fa fa-sort-desc"></i>
                        </th>

                        <th @click="sort('created_at')">Date
                            <i v-if="sortKey != 'created_at'" class="fa fa-sort"></i>
                            <i v-if="sortKey == 'created_at' && sortOrder" class="fa fa-sort-up"></i>
                            <i v-if="sortKey == 'created_at' && !sortOrder" class="fa fa-sort-desc"></i>
                        </th>
                        <th @click="sort('total_quantity')">Total Qty
                            <i v-if="sortKey != 'total_quantity'" class="fa fa-sort"></i>
                            <i v-if="sortKey == 'total_quantity' && sortOrder" class="fa fa-sort-up"></i>
                            <i v-if="sortKey == 'total_quantity' && !sortOrder" class="fa fa-sort-desc"></i>
                        </th>
                        <th >Shipped From</th>
                        <th @click="sort('location_name')">Shipped To
                            <i v-if="sortKey != 'location_name'" class="fa fa-sort"></i>
                            <i v-if="sortKey == 'location_name' && sortOrder" class="fa fa-sort-up"></i>
                            <i v-if="sortKey == 'location_name' && !sortOrder" class="fa fa-sort-desc"></i>
                        </th>
                        <th></th>
                        </thead>
                        <tbody>
                        <tr v-for="(shipment, index) in shipmentsData">
                            <td><a href="#" @click="show(shipment.id)">{{ shipment.sku }}</a></td>
                            <td>{{ shipment.shipped_date }}</td>
                            <td>{{ shipment.total_quantity }}</td>
                            <td>Fuel</td>
                            <td>{{ shipment.location_name }}</td>
                            <td><i @click="download(shipment.id)" class="fa fa-download button"></i>
                            <i @click="duplicate(shipment.id)" class="fa fa-copy button"></i></td>
                        </tr>
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>

                <pagination v-if="dataLoaded" :data="pagination" v-on:pagination-change-page="list"></pagination>

        </div>
    </div>

</template>




<script type="text/babel">

    import PNotify from 'pnotify';
    import lodash from 'lodash';
//    import swal from 'sweetalert';

    export default {
        props: ['products-raw'],

        data() {
            return {

                shipmentsData : [],

                shipmentLookup : {
                    isShowingModal : false,
                    canCancel : ['escape', 'x'],
                    data : [],
                    selected : null,
                    current: ''
                },

                itemsPerPage : 20,
                dataLoaded : false,
                pagination : {},
                sortKey : 'created_at',
                sortOrder : false /* DESC*/,

            }
        },
        computed: {
            filteredShipments() {
                var vm = this;
                if ( this.shipmentsLoaded ) {
                    return this.shipments.filter((option) => {
                        return option.name
                                        .toString()
                                        .toLowerCase()
                                        .indexOf(vm.locations.name.toLowerCase()) == 0
                    })
                .sort(function (option1, option2) {
                        if (option1.name < option2.name) {
                            return -1;
                        }
                        if (option1.name > option2.name) {
                            return 1;
                        }
                        return 0;
                    });
                }
            },

            currentLookUpValue() {
                return(this.shipmentLookup.current);
            }

        },

        watch: {
            currentLookUpValue() {
                this.findMatchingShipments()
            }
        },


        mounted() {
            console.log('Component mounted.')
        },

        created() {
            this.list();
        },


        methods: {

            duplicate(id) {
                if ( id > 0 ) {
                    window.location = 'shipment/duplicate/' + id;
                }
            },

            showShipmentLookup() {
                this.shipmentLookup.current = '';
                this.shipmentLookup.isShowingModal = true;
                this.$nextTick(() => this.$refs.lookup.focus());
            },

            findMatchingShipments() {
                var vm = this;

                if ( this.shipmentLookup.current.length < 3 ) {
                    return;
                }

                var queryParms = {
                    fragment: this.shipmentLookup.current,
                }

                axios.post('/shipment/find', queryParms)
                    .then(
                            (response) =>  {
                                if ( response.data.success ) {
                                    vm.shipmentLookup.data = response.data.data;
                                }
                            },
                            (error) =>  {

                            }
                    )

            },

            sort(key) {
                if (this.sortKey == key) {
                    this.sortOrder = !this.sortOrder;
                } else {
                    this.sortOrder = true;
                }
                this.sortKey = key;
                this.list(1, key);
            },

            list(page, sort_column) {

                var vm = this;
                var queryParms = {};
                queryParms.nbItems = this.itemsPerPage;

                if (typeof page === 'undefined') {
                    page = 1;
                }

                if (typeof sort_column === 'undefined') {
                    sort_column = 'created_at';
                }

                queryParms = {
                    nbItems : this.itemsPerPage,
                    orderBy : sort_column,
                    sortKey: this.sortKey,
                    sortOrder: this.sortOrder
                }

//                console.log(queryParms);
                axios.post('/shipment/list?page=' + page, queryParms)
                    .then(function (response) {
//                        console.log(JSON.stringify(response.data));
                        vm.shipmentsData = response.data.pagination.data;
                        vm.pagination = response.data.pagination;
                        vm.dataLoaded = true;
                    });
            },

            download(id) {
                //window.location = `/shipment/download/${id}`;
                window.open(
                        `/shipment/download/${id}`,
                        '_blank'
                );

            },

            show(id) {
                //window.location = `/shipment/show/${id}`;
                window.open(
                        `/shipment/show/${id}`,
                        '_blank'
                );

            },

            displayError(msg) {
                new PNotify({
                    title: '',
                    text: msg,
                    buttons: {
                        closer_hover: true
                    },
                    addclass: "notify-error",
                    nonblock: {
                        nonblock: true
                    },
                    delay: 2000,
                    width: "600px",
                    destroy: true,
                    type: 'error'
                });
            },

            displayNotification(msg) {
                new PNotify({
                    title: '',
                    text: msg,
                    buttons: {
                        closer_hover: true
                    },
                    addclass: "notify-message",
                    nonblock: {
                        nonblock: true
                    },
                    delay: 2000,
                    width: "600px",
                    type: 'info',
                    destroy: true
                });
            },

        }
    }
</script>

<style>
    .modal-card, .modal-card-body {
        overflow: visible;
    }
</style>
