
@media print {
  aside.menu {
    display: none;
  }

  nav {
    display: none;
  }
}

@media print {
  .print-only {display:block;}
  .screen-only {display:none;}
}

@media screen {
  .print-only {display:none;}
  .screen-only {display:block;}
}

.app-logo {
  width: 120px;
  height: auto;
}

.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}


.table.shipment-header thead {
  background-color: #ececec;
}

.table.shipment-details thead {
  background-color: #ececec;
}

.table.shipment-prepare thead {
  background-color: #ececec;
}

.table.shipment-prepare .no_column {
  width : 10%;
}
.table.shipment-prepare .sku_column {
  width : 20%;
}
.table.shipment-prepare .name_column {
  width : 50%;
}
.table.shipment-prepare .qty_column {
  width : 10%;
}
.table.shipment-prepare .action_column {
  width : 10%;
}


.notify-message {
  background-color: #3097D1 ;
  color: white;
}

.notify-error {
  background-color: red ;
  color: white;
}

.sku-code {
  background-color: white ;
  font-size: 0.75em;
  display: block;
  line-height: 1;
  margin-left: 60px;
  width:auto;
}

.app-logo {
  width: 130px;
}

.app-logo.top-spacer {
   padding-top : 30px;
}

.app-logo img {
  width:100%;
}

.address-from-pre {
  width: 10%;
}
.address-from {
}
.address-to-pre {
  width: 10%;
}
.address-to {
}

table.address {
  width: 100%;
  margin-top: 45px;
  margin-bottom: 25px;
}

table.shipment-header img {
  width: 200px;
}

