.select {
  &.is-fullwidth {
    width: 100%;
    > .select {
      width: 100%;
    }
  }
}

.is-separator {
  display: block;
  margin: 20px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  position: relative;
  &:before, &:after {
    content: " ";
    position: absolute;
    top: 50%;
    width: 45%;
    background: rgb(117, 117, 117);
    height: 5%;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

[v-cloak] {
  display: none;
}