.new-product-form {
  min-height: 0;
  max-height: 100%;
}

.existent-product-container {

  > .existent-product-title {
    > h2 {
      font-size: 30px;
    }
  }

  > .existent-product-content {

    .field {
      margin-top: 1%;
    }

  }

}
