.navbar {
  @media print {display:none;}

  background: url("/img/Depositphotos_5755752_l-2015-1-web.jpg") no-repeat center bottom;
  background-size: cover;
  min-height: 90px;

  &.dark {
    background-color: rgb(0, 0, 0);
    .fa, a, span, i {
      color: #FFF;
      > * {
        color: #FFF;
      }
      &:hover {
        background-color: white;
        color: #000;
        > * {
          color: #000;
        }
      }
    }

    .navbar-item {
      &:hover {
        color: #000;
        @media screen and (max-width: 1007px) {
          color: #FFF;
        }
        .icon, span, i, div, a {
          color: inherit;
          .fa {
            color: inherit;
          }
        }
        > .navbar-dropdown {
          > .navbar-item {
            &:hover {
              background-color: #e6e6e6;
            }
          }
        }

      }
      .navbar-link {
        @media screen and (max-width: 1007px) {
          background-color: inherit;
        }
      }



    }
    .navbar-burger {
      > span {
        background-color: #ffffff;
      }
      &:hover {
        > span {
          background-color: #000;
        }
      }
    }
    
  }
  
  .navbar-brand {
    .level {
      margin-bottom: 0;
      a {
        color: white;
        font-weight: bolder;
        padding-left: 10px;
        font-size: 40px;
      }
    }
  }

  .navbar-end {
    a.navbar-link {
      background-color: rgba(255,255,255, .5);
      
      //&:hover {
      //  color: darkgray !important;
      //}
    }
  }
  
  .app-logo {
    color: white;
  }
}

.logo {
  @media print {
    width: 120px;
    height: auto;
  }

  @media screen {
    width: 100px;
    height: auto;
  }
}



