



.table {
  &.shipment-header {
    thead {
      background-color: #ececec;
    }
  }
}

.table {
  &.shipment-details {
    thead {
      background-color: #ececec;
    }
  }
}

.table {
  &.shipment-prepare {
    thead {
      background-color: #ececec;
      tr:hover {
        background-color: #ececec;
      }
    }
    tr:hover {
      background-color: #fff;
    }
  }

  .no_column {
    width : 10%;
  }
  .sku_column {
    width : 20%;
  }
  .name_column {
    width : 50%;
  }
  .qty_column {
    width : 10%;
  }
  .action_column {
    width : 10%;
  }
}


i {
  &.fa {
    &.fa-remove {
      &.mark {
        color: red;
        cursor: pointer;
      }
    }
  }
  &.add-item {
    color: green;
    cursor: pointer;
  }
}


//.ui-pnotify-container {
//  background-color: #3097D1 ;
//  color: white;
//}

.notify-message {
  background-color: #3097D1 ;
  color: white;
}

.notify-error {
  background-color: red ;
  color: white;
}

.sku-code {
  font-size: 0.75em;
  display: block;
  line-height: 0;
  margin-left: 60px;
  width:auto;
}


.shipment-list {
  table {
    th {
      cursor: pointer;
    }
  }
}