
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@import "node_modules/bulma/sass/utilities/initial-variables";

// Variables
@import "variables";

// Bulma
//@import "node_modules/bulma/bulma";

@import "bulma_override";

@import "navbar";

@import "animations";

@import "label_generator";

@import "shipment";


//Font awesome
@import "node_modules/font-awesome/scss/font-awesome.scss";

@media print {
  aside.menu {
    display: none;
  }

  nav {
    display: none;
  }
}

@media print {
  .print-only {display:block;}
  .screen-only {display:none;}
}

@media screen {
  .print-only {display:none;}
  .screen-only {display:block;}
}
.button {margin-bottom: 20px;}
.navbar {
  background: url(/img/farmcut-bg.jpg) no-repeat center top;
  background-size: cover;
  min-height: 68px;
}
.navbar .navbar-brand .level {
  margin-bottom: 0;
  background: rgba(255, 255, 255,0.5);
  padding:5px 20px 5px 0;
}
.navbar-burger {
  margin-top: 11px;
}
.navbar-burger span {
  background:#fff;
}
.level img {
  max-height:69px;
  padding: 5px;
}
.auth-pages {
  
  background-image: url("/img/farmcut-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  height: 100vh;
  padding: 5% 0;
  
  .hero {
    padding: 0;
    
    h1 {
      text-align: center;
      font-size: 3rem;
      color: white;
      font-weight: bolder;
    }
  }
}
.login-title {
  img {
    background-color: #fff;
    padding: 20px;
  }
}

.columns {
  margin-top: 0 !important;
}

.menu {
  font-size: 1rem;
  background-color: gray;

  ul.menu-list {

    li {
      margin-top: 20px;
      margin-bottom: 20px;
      
      a {
        color: white;

        i.fa {
          margin-right: 10px;
        }
        
        &:hover  {
          color: white !important;
        }
        
        &:not(.is-active) {
          &:hover  {
            color: $brand-primary !important;
          }
        }
      }

    }

  }
}



.actions  {
  padding-top: 20px;
  width: 50%;
  margin: 0 auto;
  a {
    width: 300px;
  }
}


.app-logo {

  width: 100px;

  &.top-spacer {
    padding-top : 30px;
  }
}

.fa {
  display: inline-grid;
}

.field.is-danger input {
  border-color: red;
}

img.benefit-icons {
  height : 20px;
  width : 20px;
}

.content-box {
  padding-top: 20px !important;
  min-height: 90vh;

  .container.is-fluid {
    margin-left: 32px !important;
    margin-right: 32px !important;
    max-width: none;
    width: auto;
  }

}

.auth-pages {
  padding: 0px !important;
}